html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
	width: 100%;
}
footer {
	display : table-row;
	height: 100px; /* à titre d'exemple */
}

footer{
	color: red;
	background-color: #000;
	text-align: center;
}
ul {
	display: flex;
	justify-content: space-around;
}
nav {
	margin: 2em;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
h5 {
	text-align: center;
}
.test
{
	text-align: center;
	margin-top: 50px;
}
p
{
	text-align: center;
}
form
{
	display: flex;
	align-items: center;
	flex-direction: column;
}
input {
	width: 10%
}
textarea {
	width: 20%;

}